# =========================
# PYTHON
# =========================
backend/venv/
backend/__pycache__/
*.pyc

# =========================
# ENV VARIABLES
# =========================
backend/.env

# =========================
# DATABASES
# =========================
backend/*.db
backend/chroma_db/

# =========================
# FILE UPLOADS
# =========================
backend/uploads/

# =========================
# NODE
# =========================
frontend/node_modules/

# =========================
# FRONTEND BUILD
# =========================
frontend/dist/

# =========================
# LOGS
# =========================
*.log
backend/logs/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db