fastapi
uvicorn
python-multipart
pydantic
pydantic-settings

langchain
langchain-community

chromadb

sentence-transformers

groq

pymupdf

pypdf

pytesseract
pdf2image
pillow

python-dotenv

numpy

httpx

python-docx

markdown

tqdm