* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;
}


body {

  background: #020817;

  font-family: Arial, sans-serif;

  color: white;
}


.app {

  display: flex;

  height: 100vh;
}


.main-content {

  flex: 1;

  display: flex;

  flex-direction: column;

  background: #0f172a;
}


.header {

  padding: 20px;

  border-bottom: 1px solid #1e293b;

  text-align: center;
}


.header h1 {

  font-size: 40px;
}